<!--Home page of web app-->
<html ng-app="redditViewer">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Subreddit Article Viewer</title>

        <style>
                html    { overflow-y: scroll; }
                body    { padding-top: 50px; }
        </style>
        
        <link rel="stylesheet" href="/stylesheet.css"> 
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap -->

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/node_modules/angular/angular.min.js"></script> <!-- load AngularJS -->
        <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script> <!-- load ngSanitize -->
        <script src="core.js"></script> <!-- load angular script-->
    </head>

    <body ng-controller="mainController">
        <div class="container">

            <div class="jumbotron text-center">
                <h1>Reddit Article Viewer</h1>
            </div>

            <div id="todo-form" class="row"> <!-- text input field for user -->
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">

                            <input type="text" class="form-control input-lg text-center" placeholder="Enter a subreddit" ng-model="formData.text">
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg" ng-click="fetchArticles()">Fetch Articles</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-danger" ng-repeat="error in errors"> <!-- display any errors that may have occurred -->
                    <div class="panel-heading">
                            <h3>An Error Has Occured</h3>
                    </div>
                    <div class="panel-body">
                            <h3>Error Code: {{ error.error }}</h3>
                            <h3>Error Message: {{ error.message }}</h3>
                    </div>
            </div>

            <div class="panel panel-default" ng-repeat="article in articles"> <!-- display each article -->
                <div class="panel-heading">
                    <h3>{{ article.title }}</h3>
                    <h5>Posted by {{ article.author }} at </h5>
                    <h5>{{ article.ups }} up votes</h5>
                    <h5>{{ article.downs }} down votes</h5>
                </div>
                <div class="panel-body">
                    <div ng-bind-html="renderTextHTML(article.selftext_html)"></div>
                    <div ng-bind-html="renderImageHTML(article.image)"></div>
                </div>
                <div class="panel-footer">
                    <h3>Score: {{ article.score }}</h3>
                </div>
            </div>

        </div>

    </body>
</html>
